SECRET_KEY =

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
#DB_HOST=
DB_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

SSH_KEY=
DOCKER_HUB_USERNAME=
DOCKER_HUB_TOKEN=
SERVER_IP=
SSH_USER=
DEPLOY_DIR=

DEBUG=

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

REDIS_URL=

LOCATION=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=